.App {
  margin: 50px auto;
  padding: 20px;
  width: 100%;
  height: auto;
  max-width: 1250px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
}

header {
  margin-bottom: 35px;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 0 auto;
}

header span {
  font-weight: 600;
  font-size: 18px;
}

footer {
  text-align: center;
}

main {
  margin: 0 auto;
  width: 100%;
}

.main-settings {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
}

.main-settings div {
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
}

.sides {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

input, textarea {
  margin: 8px auto;
  padding: 5px 10px;
  display: block;
  width: 325px;
  height: auto;
  min-height: 25px;
  padding: 8px auto;
  box-shadow: 2px 3px 2px -1px rgba(0, 0, 0, 0.2);
  border: none;
}

textarea {
  max-width: 325px;
  min-height: 80px;
}

.bluefor, .redfor, .independent {
  margin: 0 25px;
}

.blue {
  color: #1859F5;
}

.red {
  color: #F5360C;
}

.green {
  color: #50C878;
}

.submit {
  margin: 15px auto;
  padding: 6px;
  display: block;
  text-align: center;
  width: 220px;
  height: 35px;
  border: none;
  background: #FFE500;
  cursor: pointer;
  font-weight: 600;
  transition: .3s;
  text-transform: uppercase;
}

.submit:hover {
  background:#000;
  color: #fff;
  transition: .3s;
}